<link rel="stylesheet" type="text/css" href="../css/admin.css">

<div class="container-fluid home">
	
	<h2>Admin Console</h2>

	<div class="row selection">
		<div class="col-md-3">
			<a href="/admin/comingsoon">
				<div class="subject">
					<img src="../img/flagged.png" alt="Flagged Chat" height="150">
					</br>
					Flagged Chats
				</div>
			</a>
			
		</div>

		<div class="col-md-3">
			<a href="/admin/comingsoon">
				<div class="subject">
					<img src="../img/reported.jpg" alt="Reported User" height="150">
					</br>
					Reported Chats
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="/admin/comingsoon">
				<div class="subject">
					<img src="../img/popular.png" alt="Popular Chat" height="150">
					</br>
					Popular Chats
				</div>
			</a>
		</div>

	    <div class="col-md-3">
	    	<a href="">
	    		<div class="subject">
		    		<img src="../img/banned.png" alt="Banned User" height="150">
		    		</br>
		    		Banned User
		    	</div>
	    	</a>
	    </div>

    </div>
</div>