<div class="container-fluid home">
	
	<h2>Admin Console</h2>

	<div class="row selection">
		<div class="col-md-4">
			<a href="">
				<img src="../img/flagged.png" alt="Flagged Chat" height="150">
				</br>
				Flagged Chats
			</a>
		</div>

		<div class="col-md-4">
			<a href="">
				<img src="../img/reported.jpg" alt="Reported User" height="150">
				</br>
				  Reported Chats
			</a>
		</div>

		<div class="col-md-4">
			<a href="">
				<img src="../img/popular.png" alt="Popular Chat" height="150">
				</br>
				Popular Chats
			</a>
		</div>
	</div>
</div>