<img src="img/chatframe.png"/>
<a href="./admin" style="padding: 20px;">
  Admin
</a>

<a href="./team"  style="padding: 20px;">
  Team
</a>

<a href="./chat"  style="padding: 20px;">
  Chat
</a>

<a href="./login"  style="padding: 20px;">
  User Login
</a>

<a href="./profile"  style="padding: 20px;">
  Profile
</a>

<a href="./">
  Root Route
</a>
