<link rel ="stylesheet" type = "text/css" ../css/chat.css>

<div> {{message}}</div><br>

<div class ="container-fluid chat">
	<div class = "formContainer">
	<h2>
	Enter a Chat Name
	</h2>
	<div class = "form">
	<form class = "form" >
		<input type = "text" name ="chatName" placeholder = "Chat Name"><br>
		<input type = "password" name = "pass" placeholder = "Optional Password"> <br>
		<button type = "button" onclick = "myFunction()" >Create chat</button>
		</form>
		</div>
		<br>
		<p>
		Create a chat by entering a name and optional password!
		<br>
		<p>
		<script>
		function myFunction(){
		
				$("form").append("<p>Button is clicked<p>");
		}
		</script>
	
	

	 </div>
	</div>
</div>






