<link rel ="stylesheet" type = "text/css" ../css/chat.css>

<div> {{message}}</div><br>

<div class ="container-fluid chat">
	<div class = "formContainer">
	<h2>
	Enter a Chat Name
	</h2>
	<div class = "form">
	<form class = "form" method = "post">
		<input type = "text" name ="chatName" placeholder = "Chat Name"><br>
		<input type = "password" name = "pass" placeholder = "optional Password"> <br>
		<button> Add chat</button>
		</form>
		</div>

		<P>
		Create a chat by entering a name and optional password!
		<p>
	</div>
</div>





