<h1> Find your flock team oriole </h1>

<img src="img/homeframe.png" style=""> </img>
<br>
<a href="./admin">
  about
</a>

<a href="./chat">
  team view
</a>

<a href="./login">
  team view
</a>

<a href="./profile">
  team view
</a>
