<link rel="stylesheet" type="text/css" href="../css/home.css">

<div class="container-fluid home">

  <h2> Pick Your Subject </h2>

  <div class="row selection">
    <div class="col-md-4">
      <a href="/user/chat?category=videogames">
        <div class="subject">
          Video Gaming
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/user/chat?category=sports">
        <div class="subject">
          Sports
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="/user/chat?category=hobbies">
        <div class="subject">
          Hobbies
        </div>
      </a>
    </div>
  </div>


</div>
