<link rel="stylesheet" type="text/css" href="../css/login.css">

<div class="container-fluid login">
  <div class="formContainer">
    <h2>
      Please login to FYF
    </h2>

    <div class="form">
      <form class="form" method="post" action="/user/auth">
        <input type="text" name="name" placeholder="Username"> <br>
        <input type="password" name="pass" placeholder="Password"> <br>
        <button>Login</button>
      </form>

      <div>{{message}}</div>

    </div>

    <p>
      Don't want to login?
    <p>

    <form method="post" action="/user/auth?anon=true">
      <button>
        Sign in as an anonymous user to get started!
      </button>
    </form>


    <p>
      Don't have an account?
      <a>Sign up here!</a>
    </p>

  </div>
</div>

<script src="../js/login.js"></script>
