<link rel="stylesheet" type="text/css" href="../css/login.css">

<div>{{message}}</div><br>

<div class="container-fluid login">
  <div class="formContainer">
    <h2>
      Please login to FYF
    </h2>

    <div class="form">
      <form class="form" method="post" action="/user/auth">
        <input type="text" name="name" placeholder="Username"> <br>
        <input type="password" name="pass" placeholder="Password"> <br>
        <button>Login</button>
      </form>
    </div>

    <h3>
      Don't want to login?
    </h3>

    <button>
      Sign in as an anonymous user to get started!
    </button>

    <p>
      Don't have an account? Sign up here!
    </p>

  </div>
</div>

<script src="../js/login.js"></script>
