.leftSide{
  border: 2px solid black;
  position: fixed;
  display: none;
}

.leftSide * {
  margin: 5px;
}

.rightSide{
  margin-left: 450px;
}

.chatBox {
  height: 350px;
  width: 250px;
  border: 2px solid black;
  margin: 30px;
  padding: 0px;
}

.chatTitle {
  color: white;
  background-color: #05FF44;
  margin: 0px;
  padding-left: 5px;
}

.sendInput {
  position: absolute;
  bottom: 1px;
  left: 10px
}

.sendButton {
  background-color: #05FF44;
  text-decoration: none;
  color: white;
}

.convoList {
  list-style-type: none;
}

.conversation {
  overflow-y: scroll;
  height: 275px;
}
