.banner {
  background-color: #05FF44;
  width: 100%;
  display: block;
  color: white;
  height: 50px;
}

.banner img {
  height: 50px;
  width: 50px;
  float: left;
}

.banner span {
  color: white;
  font-size: 17px;
  position: absolute;
  margin-top: 11px;
}

.nav {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.nav ul li{
  list-style: none;
  color: white;
  float: left;
  margin: 10px;
}

.nav * {
  color: white;
}

.modal-body input {
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 30px;
  width : 100%;
  text-align: center;
}

#footer-row {
  border: 2px solid #05FF44;
  background-color: #05FF44;
  border-radius: 20px;
}

.footer * {
  padding: 20px;
  color: white;
}
