/* Fade In */
h2 {
    display: none;
}

.message {
    display: none;
}

.selection {
    display: none;
}
/* End of Fading */

.selection * {
    padding: 30px;
    text-align: center;
}

.subject {
    padding-top: 30px;
    padding-bottom: 30px;
}

.subject img {
    position: : center;
    height: 250px;
    width: 350px;
}

.home {
    text-align: center;
    color: #00ff00;
}